.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6; /* Tailwind's gray-100 */
  background-image: url('/public/hero-image-2.0.jpg'); /* Change path as needed */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.login-button {
  background-color: #7c3aed; /* Tailwind's purple-600 */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #6d28d9; /* Tailwind's purple-700 */
}
